<!DOCTYPE html>
<html>
  <head>
    <title>YatoiApp</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'homes' %>
  </head>

  <body>
    <%= notice %>
    <%= alert %>
    <header><div class="header_line"></div></header>
    <%= yield %>
    <footer><div class="footer_line"></div></footer>
  </body>
</html>
